[program:laravel-echo-server]
process_name=%(program_name)s_%(process_num)02d

# "/var/www/echo-server" - path to server.js file which runs laravel-echo-server.
command=node /var/www/echo-server/server.js
autostart=true
autorestart=true
user=root
numprocs=1
redirect_stderr=true
stdout_logfile=/var/log/supervisor/laravel-echo-server.log